body {
    font-family: 'Roboto', sans-serif;
}
.inner {
    max-width: 970px;
}
#project_logo_wrapper {
    text-align: center;
}
#project_logo {
    max-width: 150px;
    border: unset;
    box-shadow: unset;
}
#header_wrap {
    background-image: url(/assets/images/banner.jpg);
    background-position: top center;
    background-size: cover;
}
#main_content_wrap {
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}
#footer_wrap {
    background: #ffffff;
    .row {
        text-align: center;
        color: #aaaaaa;
    }
}
.post-content {
    text-align: justify;
}
.patreon-logo-wrapper {
    text-align: center;
    box-shadow: unset;
}
.patreon-logo {
    max-width: 100%;
    box-shadow: unset;
}
